# Data files
data/raw/
data/processed/
*.jsonl
*.jsonl.gz

#data/processed/embeddings.npy  #it's of size 165MB but the app does not use it

# Environment
.env
__pycache__/
*.pyc
.DS_Store

# Model artifacts (can be large)
#*.pkl
#*.faiss
*.index